// font
@font-face {
    font-family: pixelfont;
    src: url(pixelfont.woff);
}
@keyframes blinkFlash {
    0% {opacity: 1;}
    15% {opacity: 0.5;}
    45%{opacity: 0;}
    50%{opacity: 0;}
    55%{opacity: 0;}
    85% {opacity: 0.5;}
    100%{opacity: 1;}
}
$blinkanimation: blinkFlash .5s ease-in-out;
// colors
$yellow: rgb(255, 255, 3);
$blue: rgb(0, 175, 255);
$pink: rgb(223, 79, 207);
$maroon: rgb(125, 63, 89);
$orange: rgb(249, 168, 117);
$medium_pink: rgb(231, 126, 219);
$light_pink: rgb(255, 204, 255);
$black: rgb(56, 44, 56);
$green: rgb(48, 213, 95);
// sizes
$sliderclosebutton_height: 58px;
$selfiebutton_height: 116px;
$selfiebutton_width: 232px;
$buttons_height: 116px;
$buttons_width: 150px;
$height_slider_open: 80%;
$height_slider_total: 100vh;
$height_slider_closed: 0em;
$height_preview_open: 20vh;
// borders
$yellowborder_style: 6px solid $yellow;
$wideborder_style: 20px solid $yellow;
$blackborder_style: 10px solid $black;
$maroonborder_style: 8px solid $maroon;
$widemaroonborder_style: 10px solid $maroon;
$text_padding: 6px;
//shadows
$yellow_shadowbottom: 0px 10px 0px 0px;

*:focus {
    box-shadow: none;
}
* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
p {
    font-size: 17px;
    text-align: left;
    text-align: center;
}
a {
    text-decoration: underline;
    color: $maroon;
}
h3 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background-color: transparent;
}
h4 {
    font-size: 19px;
    font-weight: 500;
    text-align: left;
    padding: 3px;
}
h5 {
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    padding: 3px;
    background-color: transparent;
}
body {
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    font-family: pixelfont;
    color: $maroon;
    font-weight: 500;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top: $maroonborder_style;
    border-right: $maroonborder_style;
    border-left: $maroonborder_style;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.header-index {
    background-color: $orange;
    border-bottom: $widemaroonborder_style;
    box-shadow: $black 0px -3px 13px 0px;
    outline: none;
    color: $maroon;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: transform .7s ease-out;
    z-index: 2;
    position: absolute;
    padding: $text_padding;
    top: 0;
    left: 0;
    &.is-open {
      transform: translateY(-101%)
    }
}
#logo {
    height: auto;
    max-width: 100%;
    margin: auto;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}
.wrapper-index {
    width: 100%;
    height: 100%;
    background-color: $maroon;
    position: static;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100vh $height_slider_closed;
    grid-template-areas:
    'map'
    'slider';
    &.clicked {
        animation: $blinkanimation;
    }
    .map-class {
        grid-area: map;
        height: 100vh;
        width: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 1;
        #map {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            .mapboxgl-user-location-dot:before {
                background-color:rgb(223, 79, 207);
            }
            .mapboxgl-user-location-dot:after {
                background-color:rgb(223, 79, 207);
            }
            .mapboxgl-user-location-accuracy-circle {
                background-color:rgba(223, 79, 206, 0.25);
            }
            .mapboxgl-ctrl-group {
                border-radius: 0px !important;
                background-color: $light_pink;
            }
            .mapboxgl-ctrl-group:not(:empty) {
                box-shadow: $black 0px 0px 5px 0px;
            }
            button.mapboxgl-ctrl-geolocate {
                width: 50px !important;
                height: 50px !important;
                display: block;
                cursor: pointer;
                border: 5px solid $pink;
                .mapboxgl-ctrl-icon {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-image: url(../assets/locate_toggle.svg) !important;
                    background-size: 70%;
                    background-position: 50%;
                }
            }
        }
    }
    .slider {
        grid-area: slider;
        border-left: $maroonborder_style;
        border-right: $maroonborder_style;
        border-top:$maroonborder_style;
        border-bottom: $widemaroonborder_style;
        box-shadow: $black 0px 6px 13px 0px;
        width: 100%;
        height: $height_slider_total;
        z-index: 2;
        background-color: $orange;
        overflow: auto;
        transition: transform .7s ease-out;
        display: grid;
        grid-template-rows: auto auto 1fr $height_slider_closed 1fr;
        grid-template-areas:
        'title'
        'camera'
        'texts'
        'buttons'
        'spacer';
        &.is-open {
            transform: translateY(-$height_slider_open);
        }
        &.clicked {
            transform: translateY(-$height_slider_total);
        }
        .slider-title {
            grid-area: title;
            position: relative;
            border-bottom: $maroonborder_style;
            background-color: $orange;
            display: flex;
            align-items: center;
            z-index: 2;
            #location {
                background-color: transparent;
                font-size: 22px;
                -webkit-font-smoothing: antialiased;
                padding: $text_padding;
                font-family: pixelfont;
                font-weight: 500;
                color: $yellow;
                text-align: center;
                flex-wrap: wrap;
                flex: 1;
            }
            .slider-toggle {
                flex: 0 0 $sliderclosebutton_height;
                background-image: url(../assets/toggle.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-color: $orange;
                border: none;
                width: $sliderclosebutton_height;
                height: $sliderclosebutton_height;
                cursor: pointer;
            }
            .slider-toggle:active {
                background-image: url(../assets/toggle_clicked.png);
            }
        }
        #camFeed {
            grid-area: camera;
            display: block;
            height: auto;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: $black;
            border: $blackborder_style;
            z-index: 2;
        }
        .slider-text {
            grid-area: texts;
            width: 100%;
            height: auto;
            border-top: $maroonborder_style;
            background-color: $orange;
            opacity: 1;
            text-align: center;
            transition: transform .7s ease-in-out, opacity .4s ease-in-out;
            z-index: 1;
            &.clicked {
                transform: translateY(-101%);
                opacity: 0;
            }
            .take-selfie {
                background: url(../assets/selfie.png);
                background-repeat: no-repeat;
                background-size: 100%;
                border: none;
                height: $selfiebutton_height;
                width: $selfiebutton_width;
                cursor: pointer;
                flex: 5;
            }
        }
        .slider-buttons {
            grid-area: buttons;
            background-color: $orange;
            width: auto;
            height: $height_slider_closed;
            transition: transform .7s ease-in-out, opacity .4s ease-in-out;
            z-index: 3;
            opacity: 0;
            display: flex;
            &.clicked {
                transform: translateY(-$height_preview_open);
                opacity: 1;
            }
            .delete-it {
                height: $buttons_height;
                max-width: $buttons_width;
                background: url(../assets/delete.png);
                background-repeat: no-repeat;
                background-size: 100%;
                padding-left: 10px;
                padding-right: 10px;
                margin: auto;
                border: none;
                cursor: pointer;
                flex: 1;
            }
            .save-it {
                height: $buttons_height;
                max-width: $buttons_width;
                background: url(../assets/save.png);
                background-repeat: no-repeat;
                background-size: 100%;
                padding-left: 10px;
                padding-right: 10px;
                margin: auto;
                border: none;
                cursor: pointer;
                flex: 1;
            }
        }
        .slider-spacer {
            grid-area: spacer;
            height: auto;
            width: 100%;
            background-color: $orange;
            z-index: 2;
        }
    }
}
.footer-index {
    background-color: $maroon;
    overflow: hidden;
    color: $yellow;
    width: 100%;
    height: auto;
    padding: $text_padding;
    transition: transform .7s ease-in-out;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    &.is-open {
      transform: translateY(101%);
    }
    p {
        text-align: left;
    }
}
.wrapper {
    overflow-y: auto;
    background-color: $green;
    height: 100%;
    width: 100%;
    .header {
        background-color: $green;
        overflow: hidden;
        color: $yellow;
        width: 100%;
        height: auto;
        z-index: 3;
        padding: $text_padding;
    }   
    .main-text {
        min-height: 100%;
        height: auto;
        width: 100%;
        background-color: $green;
        padding: 5px;
        z-index: 4;
        #example {
            height: auto;
            max-width: 75%;
            padding: 15px;
            margin: auto;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
        }
        h4 {
            padding-left: 10px;
            padding-right: 5px;
        }
        p {
            text-align: left;
            font-size: 15px;
            padding-left: 13px;
            padding-right: 9px;
        }
    }
    .footer {
        background-color: $maroon;
        color:$yellow;
        overflow: hidden;
        width: 100%;
        height: auto;
        padding: $text_padding;
        border: none;
        z-index: 3;
        p {
            text-align: left;
        }
    }
}