// font
@font-face {
    font-family: pixelfont;
    src: url(pixelfont.woff);
}
@keyframes blinkFlash {
    0% {opacity: 1;}
    15% {opacity: 0.5;}
    45%{opacity: 0;}
    50%{opacity: 0;}
    55%{opacity: 0;}
    85% {opacity: 0.5;}
    100%{opacity: 1;}
}
$blinkanimation: blinkFlash .5s ease-in-out;
// colors
$yellow: rgb(255, 255, 3);
$blue: rgb(0, 175, 255);
$darkblue: rgb(40, 53, 147);
$green: rgb(48, 213, 95);
$darkgreen: rgb(0, 150, 136);
$pink: rgb(223, 79, 207);
$light_pink: rgb(255, 204, 255);
$maroon: rgb(125, 63, 89);
$orange: rgb(239, 154, 154);
$black: rgb(56, 44, 56);
// gradients
$green_gradient: linear-gradient(
    $green 50%,
    rgb(46, 210, 96) 50%,
    rgb(46, 210, 96) 55%,
    rgb(42, 205, 99) 55%,
    rgb(42, 205, 99) 60%,
    rgb(36, 197, 104) 60%,
    rgb(36, 197, 104) 65%,
    rgb(28, 187, 111) 65%,
    rgb(28, 187, 111) 70%,
    rgb(18, 174, 119) 70%,
    rgb(18, 174, 119) 75%,
    rgb(11, 164, 125) 75%,
    rgb(11, 164, 125) 80%,
    rgb(5, 157, 130) 80%,
    rgb(5, 157, 130) 85%,
    rgb(1, 152, 134) 85%,
    rgb(1, 152, 134) 90%,
    $darkgreen 100%
);
$pink_gradient: linear-gradient(
    $pink 50%,
    rgb(217, 77, 200) 50%,
    rgb(217, 77, 200) 55%,
    rgb(209, 76, 191) 55%,
    rgb(209, 76, 191) 60%,
    rgb(197, 74, 176) 60%,
    rgb(197, 74, 176) 65%,
    rgb(182, 71, 157) 65%,
    rgb(182, 71, 157) 70%,
    rgb(165, 69, 137) 70%,
    rgb(165, 69, 137) 75%,
    rgb(149, 66, 118) 75%,
    rgb(149, 66, 118) 80%,
    rgb(137, 65, 104) 80%,
    rgb(137, 65, 104) 85%,
    rgb(130, 63, 95) 85%,
    rgb(130, 63, 95) 90%,
    $maroon 100%
);
$blue_gradient: linear-gradient(
    $blue 50%,
    rgb(0, 172, 252) 50%,
    rgb(0, 172, 252) 55%,
    rgb(3, 163, 245) 55%,
    rgb(3, 163, 245) 60%,
    rgb(8, 147, 230) 60%,
    rgb(8, 147, 230) 65%,
    rgb(15, 125, 211) 65%,
    rgb(15, 125, 211) 70%,
    rgb(23, 101, 189) 70%,
    rgb(23, 101, 189) 75%,
    rgb(30, 79, 170) 75%,
    rgb(30, 79, 170) 80%,
    rgb(36, 63, 156) 80%,
    rgb(36, 63, 156) 85%,
    rgb(39, 55, 149) 85%,
    rgb(39, 55, 149) 90%,
    $darkblue 100%
);
// sizes
$selfiewidth: 352px;
$selfieheight: 240px;
$selfiebutton_height: 116px;
$selfiebutton_width: 288px;;
$buttons_height: 116px;
$buttons_width: 150px;
$height_slider_open: 85vh;
$height_slider_total: 100vh;
$height_slider_closed: 0vh;
$height_preview_open: 1fr;
$toggle_buttons: 58px;
// borders
$yellowborder_style: 6px solid $yellow;
$pinkborder_style: 6px solid $pink;
$blueborder_style: 6px solid $darkblue;
$maroonborder_style: 6px solid $maroon;
$greenborder_style: 6px solid $darkgreen;
$blackborder_style: 10px solid $black;
$skinnyyellowborder_style: 2px solid $yellow;
$skinnyblueborder_style: 3px solid $darkblue;
$text_padding: 3px;

*:focus {
    box-shadow: none;
}
* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
p {
    font-size: 19px;
    text-align: left;
    text-align: center;
    color: $yellow;
}
a {
    text-decoration: underline;
    color: $yellow;
}
h1 {
    color: $yellow;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    background-color: transparent;
    padding: 2px;
}
h4 {
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    padding-left: 2px;
    padding-right: 2px;
}
h5 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding: 2px;
    background-color: transparent;
}
body {
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    font-family: pixelfont;
    color: $yellow;
    font-weight: 500;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: $greenborder_style;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.nav-bar {
    height: 100%;
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.header-index {
    background: url(../assets/background_darkgreen.png), $green_gradient;
    border-bottom: 6px solid $darkgreen;
    box-shadow: $black 0px -3px 13px 0px;
    outline: none;
    padding: text_padding;
    color: $yellow;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: transform .7s ease-out;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    p {
        margin-left: 5px;
        margin-right: 5px;
    }
    h3 {
        margin-top: 10px;
    }
    &.is-open {
      transform: translateY(-101%);
    }
}
#logo {
    height: auto;
    max-width: 100%;
    margin: auto;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}
.wrapper-index {
    width: 100%;
    height: 100%;
    background: $green;
    background-repeat: no-repeat;
    background-size: 100%;
    position: static;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100vh $height_slider_closed;
    grid-template-areas:
    'map'
    'slider';
    &.clicked {
        animation: $blinkanimation;
    }
    .map-class {
        grid-area: map;
        height: 95%;
        width: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 1;
        #map {
            width: 100%;
            height: 100%;
            overflow: hidden;
            .mapboxgl-user-location-dot:before {
                background-color:rgb(223, 79, 207);
            }
            .mapboxgl-user-location-dot:after {
                background-color:rgb(223, 79, 207);
            }
            .mapboxgl-user-location-accuracy-circle {
                background-color:rgba(223, 79, 206, 0.25);
            }
            .mapboxgl-ctrl-group {
                border-radius: 0px !important;
                background-color: transparent;
            }
            .mapboxgl-ctrl-group:not(:empty) {
                box-shadow: none;
            }
            button.mapboxgl-ctrl-geolocate {
                width: $toggle_buttons!important;
                height: $toggle_buttons !important;
                background-color: transparent;
                display: block;
                cursor: pointer;
                .mapboxgl-ctrl-icon {
                    width: 100%;
                    height: 100%;
                    background-size: 100%;
                    background-position: 100%;
                    background-repeat: no-repeat;
                    animation: none !important;
                    background-image: url(../assets/geolocate_toggle.png) !important;
                }
            }
            button.mapboxgl-ctrl-geolocate:disabled {
                opacity: 1;
                .mapboxgl-ctrl-icon {
                    width: 100%;
                    height: 100%;
                    background-size: 100%;
                    background-position: 100%;
                    background-repeat: no-repeat;
                    animation: none !important;
                    background-image: url(../assets/geolocate_toggledisabled.png) !important;
                    opacity: .5 !important;
                }
            }
            button.mapboxgl-ctrl-geolocate-active {
                .mapboxgl-ctrl-icon {
                    width: 100%;
                    height: 100%;
                    background-size: 100%;
                    background-position: 100%;
                    background-repeat: no-repeat;
                    animation: none !important;
                    background-image: url(../assets/geolocate_togglepressed.png) !important;
                    opacity: 1 !important;
                }
            }
            button.mapboxgl-ctrl-geolocate-waiting {
                .mapboxgl-ctrl-icon {
                    width: 100%;
                    height: 100%;
                    background-size: 100%;
                    background-position: 100%;
                    background-repeat: no-repeat;
                    animation: none !important;
                    background-image: url(../assets/geolocate_toggle.png) !important;
                    opacity: 1 !important;
                }
            }
        }
    }
    .slider {
        grid-area: slider;
        border-top: $greenborder_style;
        background: url(../assets/background.png), $green_gradient;
        background-repeat: repeat;
        background-size: auto;
        box-shadow: $black 0px 6px 13px 0px;
        width: 100%;
        height: $height_slider_total;
        z-index: 2;
        overflow: auto;
        transition: transform .7s ease-out;
        display: grid;
        grid-template-rows: auto auto auto 1fr;
        grid-template-areas:
        'title'
        'camera'
        'functions';
        &.is-open {
            transform: translateY(-$height_slider_open);
        }
        &.clicked {
            transform: translateY(-$height_slider_total);
            height: 100vh;
        }
        .slider-title {
            grid-area: title;
            position: relative;
            background-color: transparent;
            display: flex;
            align-items: center;
            border-bottom: $greenborder_style;
            padding-left: 2px;
            padding-right: 2px;
            z-index: 2;
            #location {
                background-color: transparent;
                font-size: 19px;
                -webkit-font-smoothing: antialiased;
                font-family: pixelfont;
                font-weight: 500;
                color: $yellow;
                text-align: center;
                flex-wrap: wrap;
                flex: 2;
            }
            .slider-toggle {
                flex: 0 0 $toggle_buttons;
                background-image: url(../assets/toggle.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-color: transparent;
                border: none;
                width: $toggle_buttons;
                height: $toggle_buttons;
                cursor: pointer;
            }
            .slider-toggle:active {
                background-image: url(../assets/toggle_clicked.png);
            }
        }
        .slider-cam {
            grid-area: camera;
            display: block;
            margin: auto;
            height: auto;
            max-height: 100%;
            width: 100%;
            z-index: 3;
            #camFeed {
                display: block;
                height: auto;
                max-height: 100%;
                width: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-color: $black;
                border: $blackborder_style;
                z-index: 3;
            }
        }
        .slider-functions {
            grid-area: functions;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 1;
            .slider-text {
                flex: initial;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                opacity: 1;
                text-align: center;
                transition: transform .7s ease-in-out, opacity .7s ease-in-out;
                &.clicked {
                    transform: translateY(-$selfiebutton_height);
                    height: $selfiebutton_height;
                    opacity: 0;
                }
                .take-selfie {
                    background: url(../assets/selfie.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    border: none;
                    height: $selfiebutton_height;
                    width: $selfiebutton_width;
                    cursor: pointer;
                }
                .take-selfie:active {
                    background: url(../assets/selfie_pressed.png);
                }
            }
            .slider-buttons {
                flex: initial;
                background-color: transparent;
                width: 100%;
                height: 0px;
                display: grid;
                grid-template-rows: auto auto;
                grid-template-areas:
                'delete'
                'save';
                z-index: 3;
                opacity: 0;
                transition: transform .7s ease-in-out, opacity .7s ease-in-out;
                &.clicked {
                    transform: translateY(-$selfiebutton_height);
                    opacity: 1;
                    height: 100%;
                }
                .save-it {
                    grid-area: 'save';
                    height: $selfiebutton_height;
                    width: $selfiebutton_width;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: url(../assets/save.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin: auto;
                    border: none;
                    cursor: pointer;
                }
                .save-it:active {
                    background: url(../assets/save_pressed.png);
                }
                .delete-it {
                    grid-area: 'delete';
                    height: $selfiebutton_height;
                    width: $selfiebutton_width;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: url(../assets/delete.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin: auto;
                    border: none;
                    cursor: pointer;
                }
                .delete-it:active {
                    background: url(../assets/delete_pressed.png);
                }
            }
            .slider-spacer {
                flex: initial;
                flex-wrap:wrap;
                height: 100%;
                width: 100%;
                background-color: transparent;
                z-index: 1;
                overflow-y: auto;
                transition: transform .7s ease-in-out;
                &.clicked {
                    transform: translateY(-$selfiebutton_height);
                }
            }
        }
    }
}
.footer-index {
    background-color: $darkgreen;
    overflow: hidden;
    color: $yellow;
    width: 100%;
    height: 5%;
    padding: $text_padding;
    transition: transform .7s ease-in-out;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    &.is-open {
      transform: translateY(101%);
    }
    p {
        text-align: left;
    }
}
.wrapper-faq {
    overflow-y: auto;
    background: url(../assets/background_lightpink.png), $pink_gradient;
    height: 100%;
    width: 100%;
    position: static;
    .header {
        background: transparent;
        overflow: hidden;
        color: $yellow;
        width: 100%;
        height: auto;
        z-index: 3;
        padding: $text_padding;
        mark {
            background: $pink !important;
            color: $yellow !important;
        }
        .nav-bar {
            background-color: $pink;
            border: 3px solid $maroon;
        }
    }   
    .main-text {
        min-height: 100%;
        height: auto;
        width: 100%;
        background: transparent;
        padding: 5px;
        z-index: 4;
        #example {
            height: auto;
            max-width: 75%;
            padding: 15px;
            margin: auto;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
        }
        h4 {
            padding-left: 10px;
            padding-right: 5px;
        }
        p {
            text-align: left;
            font-size: 19px;
            padding-left: 13px;
            padding-right: 9px;
        }
        mark {
            background: rgb(165, 69, 137) !important;
            color: $yellow !important;
        }
    }
    .footer {
        background: $maroon;
        color:$yellow;
        overflow: hidden;
        width: 100%;
        height: 5%;
        padding: $text_padding;
        border: none;
        z-index: 3;
        p {
            text-align: left;
        }
    }
}
.wrapper-about {
    overflow-y: auto;
    background: $blue_gradient;
    height: 100%;
    width: 100%;
    position: static;
    .header {
        background: transparent;
        overflow: hidden;
        color: $yellow;
        width: 100%;
        height: auto;
        z-index: 3;
        padding: $text_padding;
        h1 {
            color: $yellow;
            font-size: 25px;
            text-align: center;
        }
    }   
    .main-text {
        min-height: 100%;
        height: auto;
        width: 100%;
        background: transparent;
        padding: 5px;
        z-index: 4;
        h4 {
            padding-left: 10px;
            padding-right: 5px;
        }
        p {
            text-align: left;
            font-size: 15px;
            padding-left: 13px;
            padding-right: 9px;
        }
    }
    .footer {
        background-color: $darkblue;
        color:$yellow;
        overflow: hidden;
        width: 100%;
        height: 5%;
        padding: $text_padding;
        border: none;
        z-index: 3;
        p {
            text-align: left;
        }
    }
}
.wrapper-edit {
    width: 100%;
    height: 100%;
    background: $green_gradient;
    background-size: 100%;
    position: static;
    z-index: 1;
    overflow-y: auto;
    .header {
        padding: text_padding;
        overflow: hidden;
        width: 100%;
        outline: none;
        height: auto;
    }
    #stickerbar {
        height: auto;
        width: 100%;
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    canvas {
        //background-color: transparent;
        border: $greenborder_style;
    }
}