@font-face {
  font-family: pixelfont;
  src: url(https://juliacodessometimes.github.io/selfie_nyc/assets/pixelfont.woff);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  font-family: pixelfont;
  text-align: left;
  text-align: center;
}

h4 {
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-family: pixelfont;
  font-weight: 500;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: pixelfont;
  background-color: #FFFF87;
  color: #DF4FCF;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border: 15px solid #FFFF87;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.header {
  background-color: #87E7FF;
  overflow: hidden;
  width: 100%;
  height: auto;
  -webkit-transition: all .7s ease-out;
  transition: all .7s ease-out;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

.header.is-open {
  -webkit-transform: translateY(-101%);
          transform: translateY(-101%);
}

.header #logo {
  height: auto;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.wrapper {
  width: 100%;
  height: 100vh;
  border-bottom: 30px solid #87E7FF;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh 0em;
      grid-template-rows: 100vh 0em;
      grid-template-areas: 'map' 'slider';
}

.map-class {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: map;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
}

.map-class #map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map-class #map .marker {
  border: none;
  cursor: pointer;
  height: 33px;
  width: 55px;
  background-image: url(assets/icon.png);
}

.map-class #map .marker.select {
  border: none;
  cursor: pointer;
  height: 37px;
  width: 59px;
  background-image: url(assets/icon_select.png);
}

.slider {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: slider;
  width: 100%;
  height: 80vh;
  z-index: 4;
  background-color: #FFFF87;
  border-top: 15px solid #FFFF87;
  border-bottom: 15px solid #FFFF87;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 2fr 1fr 1fr;
      grid-template-rows: 40px 2fr 1fr 1fr;
      grid-template-areas: 'title' 'camera' 'tips' 'buttons';
}

.slider.is-open {
  -webkit-transform: translateY(-80vh);
          transform: translateY(-80vh);
}

.slider .slider-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  background-color: #87E7FF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slider-title #location {
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-family: pixelfont;
  font-weight: 500;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slider .slider-title .slider-toggle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.slider .slider-title .slider-toggle i.fa {
  position: center;
  font-size: 20px;
  color: #DF4FCF;
}

.slider #camFeed {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: camera;
  height: auto;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border: 15px solid #FFFF87;
}

.slider .slider-text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tips;
  width: 100%;
  height: auto;
  background-color: #87E7FF;
  color: #DF4FCF;
  text-align: center;
}

.slider .slider-buttons {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: buttons;
  background-color: #87E7FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slider-buttons .take-selfie {
  position: static;
  top: 15px;
  left: 100px;
  outline: none;
  border: 15px solid #DF4FCF;
  width: 40px;
  height: 70px;
  cursor: pointer;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.slider .slider-buttons .refresh {
  position: static;
  top: 15px;
  right: 100px;
  outline: none;
  border: 15px solid #DF4FCF;
  width: 40px;
  height: 70px;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=main.css.map */