// font
@font-face {
    font-family: pixelfont;
    src: url(https://juliacodessometimes.github.io/selfie_nyc/assets/pixelfont.woff);
}
// colors
$yellow: #FFFF87;
$blue: #87E7FF;
$dark_blue: #08b2dd;
$pink: #df4ecc;
$light_pink: #ffd5f9;
// sizes
$slider_close_icon: 40px;
$buttons_height: 70px;
$height_slider_open: 80vh;
$height_slider_total: 100vh;
$height_slider_closed: 0em;
$height_preview_open: 20vh;
// border
$yellowborder_style: 10px solid $yellow;
$wideborder_style: 20px solid $yellow;
$blueborder_style: 10px solid $blue;
$pinkborder_style: 10px solid $pink;
$text_padding: 10px;

* {
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

p {
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    font-family: pixelfont;
    text-align: left;
    text-align: center;
}

h3 {
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    font-family: pixelfont;
    font-weight: 500;
    text-align: center;
}

h4 {
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    font-family: pixelfont;
    font-weight: 500;
    text-align: left;
    padding: 5px;
}

h5 {
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    font-family: pixelfont;
    font-weight: 500;
    text-align: center;
    padding: 5px;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: pixelfont;
    background-color: $blue;
    color: $pink;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border: $yellowborder_style;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.header {
    background-color: $blue;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: all .7s ease-out;
    z-index: 3;
    position: absolute;
    padding: $text_padding;
    top: 0;
    left: 0;
    
    &.is-open {
      transform: translateY(-101%)
    }
    
    #logo {
        height: auto;
        width: 100%;
        padding: 0;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.wrapper {
    width: 100%;
    height: 100vh;
    border-bottom: $wideborder_style;
    background-color: $yellow;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100vh $height_slider_closed;
    grid-template-areas:
    'map'
    'slider';
}

.map-class {
    grid-area: map;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    
    #map {
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        .marker {
            border: none;
            cursor: pointer;
            height: 34px;
            width: 56px;
            z-index: 5;
            background-image: url(assets/icon.png);
            
            &.selected {
                border: none;
                cursor: pointer;
                height: 42px;
                width: 64px;
                z-index: 6;
                background-image: url(assets/icon_select.png);
            }
        }
    }
}

.slider {
    grid-area: slider;
    border-left: $yellowborder_style;
    border-right: $yellowborder_style;
    border-top: $yellowborder_style;
    border-bottom: $wideborder_style;
    width: 100%;
    height: $height_slider_total;
    z-index: 4;
    background-color: $blue;
    transition: all .7s ease;
    display: grid;
    grid-template-rows: auto auto 1fr $height_slider_closed 1fr;
    grid-template-areas:
    'title'
    'camera'
    'tips'
    'buttons'
    'spacer';
    
    &.is-open {
        transform: translateY(-$height_slider_open);
    }

    &.clicked {
        transform: translateY(-$height_slider_total)
    }
    
    .slider-title {
        grid-area: title;
        position: relative;
        display: flex;
        align-items: center;
        z-index: 7;

        #location {
            background-color: $blue;
            font-size: 20px;
            -webkit-font-smoothing: antialiased;
            font-family: pixelfont;
            font-weight: 500;
            text-align: center;
            flex-wrap: wrap;
            flex: 1;
        }

        .slider-toggle {
            flex: 0 0 $slider_close_icon;
            background-image: url(assets/toggle.png);
            background-repeat: no-repeat;
            background-size: 100%;
            border: none;
            width: $slider_close_icon;
            height: $slider_close_icon;
            cursor: pointer;
        }
    }
    
    #camFeed {
        grid-area: camera;
        height: auto;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        border-top: $yellowborder_style;
        border-bottom: $yellowborder_style;
        z-index: 5;
    }

    .slider-text {
        grid-area: tips;
        width: 100%;
        height: auto;
        background-color: $blue;
        color: $pink;
        text-align: center;
        transition: all .7s ease-out;
        z-index: 3;

        &.clicked {
            transform: translateY(-101%);
        }

        .take-selfie {
            outline: none;
            width: 100%;
            height: $buttons_height;
            font-size: 20px;
            -webkit-font-smoothing: antialiased;
            font-family: pixelfont;
            font-weight: 500;
            color: $pink;
            cursor: pointer;
            flex: 5;
        }
    }

    .slider-buttons {
        grid-area: buttons;
        background-color: $blue;
        border-top: $blueborder_style;
        width: 100%;
        height: $height_slider_closed;
        transition: all .7s ease-out;
        z-index: 6;
        display: flex;

        &.clicked {
            transform: translateY(-$height_preview_open);
        }
            
        .delete-it {
            outline: none;
            width: 20px;
            height: $buttons_height;
            font-size: 20px;
            -webkit-font-smoothing: antialiased;
            font-family: pixelfont;
            font-weight: 500;
            color: $pink;
            cursor: pointer;
            flex: 1;
        }
    
        .save-it {
            outline: none;
            width: 20px;
            height: $buttons_height;
            font-size: 20px;
            -webkit-font-smoothing: antialiased;
            font-family: pixelfont;
            font-weight: 500;
            color: $pink;
            cursor: pointer;
            flex: 1;
        }
    }

    .spacer {
        grid-area: spacer;
        height: auto;
        width: 100%;
        background-color: $blue;
        border-bottom: $wideborder_style;
        z-index: 10;
    }
}

.footer {
    background-color: $yellow;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: $text_padding;
    border-bottom: $wideborder_style;
    transition: all .7s ease-out;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    
    &.is-open {
      transform: translateY(101%);
    }

    p {
        text-align: left;
    }
}

.wrapper-about {
    overflow-y: auto;
    height: 100vh;
    width: 100%;

    .header-about {
        background-color: $blue;
        overflow: hidden;
        width: 100%;
        height: auto;
        z-index: 3;
        padding: $text_padding;
    
        #logo {
            height: auto;
            width: 100%;
            padding: 0;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }   

    .troubleshooting {
        height: auto;
        width: 100%;
        z-index: 6;
        background-color: $blue;
        padding: 5px;
    
        #example {
            height: auto;
            width: 75%;
            padding: 15px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    
        p {
            text-align: left;
            font-size: 11px;
            padding-left: 10px;
        }
    }

    .footer-about {
        background-color: $yellow;
        overflow: hidden;
        width: 100%;
        height: auto;
        padding: $text_padding;
        border-bottom: $wideborder_style;
        z-index: 3;
    
        p {
            text-align: left;
        }
    }
}