// colors
$yellow: #FFFF87;
$blue: #87E7FF;
$pink: #DF4FCF;

// sizes
$slider_close_icon: 40px;
$buttons_height: 70px;
$height_slider_open: 80vh;
$height_slider_closed: 0em;

// border
$yellowborder_style: 15px solid $yellow;
$blueborder_style: 30px solid $blue;
$pinkborder_style: 14px solid $pink;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Courier New', Courier, monospace;
    background-color: $yellow;
    color: $pink;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border: $yellowborder_style;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.header {
    background-color: $blue;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: all .7s ease-out;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    
    &.is-open {
      transform: translateY(-101%)
    }
    
    #logo {
        height: auto;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    h4 {
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
        text-align: center;
    }

    p {
        font-size: 10px;
        -webkit-font-smoothing: antialiased;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        font-weight: 900;
        text-align: center;
    }
}

.wrapper {
    width: 100%;
    height: 100vh;
    border-bottom: $blueborder_style;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100vh $height_slider_closed;
    grid-template-areas:
    'map'
    'slider';
}

.map-class {
    grid-area: map;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    transition: all .7s ease;
    
    #map {
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        .marker {
            border: none;
            cursor: pointer;
            height: 33px;
            width: 55px;
            background-image: url(assets/icon.png);
        }
    }
}

.slider {
    grid-area: slider;
    width: 100%;
    height: $height_slider_open;
    z-index: 4;
    background-color: $yellow;
    border-top: $yellowborder_style;
    border-bottom: $yellowborder_style;
    transition: all .7s ease;
    overflow: hidden;
    display: grid;
    grid-template-rows: $slider_close_icon 2fr 1fr 1fr;
    grid-template-areas:
    'title'
    'camera'
    'tips'
    'buttons';
    
    &.is-open {
        transform: translateY(-$height_slider_open);
    }
    
    .slider-title {
        grid-area: title;
        background-color: $blue;
        position: relative;
        display: flex;
        align-items: center;

        #location {
            text-align: center;
            font-weight: 900;
            flex: 1;
        }

        .slider-toggle {
            flex: 0 0 $slider_close_icon;
            border: none;
            width: $slider_close_icon;
            height: $slider_close_icon;
            cursor: pointer;
            
            i.fa {
                position:center;
                font-size: 20px;
                color: $pink;
            }
        }
    }
    
    #camFeed {
        grid-area: camera;
        height: auto;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        border-top: $yellowborder_style;
        border-bottom: $yellowborder_style;
    }

    .slider-text {
        grid-area: tips;
        width: 100%;
        height: auto;
        background-color: $blue;
        color: $pink;
        font-weight: 900;
        text-align: center;

        h4 {
            font-size: 15px;
            -webkit-font-smoothing: antialiased;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 900;
        }
    }

    .slider-buttons {
        grid-area: buttons;
        background-color: $blue;
        display: flex;

        .take-selfie {
            position: static;
            top: 15px;
            left: 100px;
            outline: none;
            border: $pinkborder_style;
            width: 40px;
            height: $buttons_height;
            cursor: pointer;
            flex: 1;
        }

        .refresh {
            position: static;
            top: 15px;
            right: 100px;
            outline: none;
            border: $pinkborder_style;
            width: 40px;
            height: $buttons_height;
            cursor: pointer;
            flex: 1;
        }
    }
}