<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>selfie_nyc/about</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/jpg" href="{{url_for('static', filename='favicon.png')}}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
<div class="wrapper">
<div class="header">
    <img src="{{url_for('static', filename='logo.png')}}" id="logo"></img>
    <h3>About selfie_nyc</h3>
    <h5><a href="{{url_for('index')}}">back to selfie_nyc</a></h5>
    <h5><a href="{{url_for('faq')}}">FAQ page</a></h5>
</div>
<div class="main-text">
    <p>This is an about page</p>
</div>
<div class="footer">
    <p>website by julia bloom</p>
</div>
</div>
<script>
    // form
    /*var selfieForm = document.createElement('form');
    selfieForm.setAttribute('method', 'POST');
    selfieForm.setAttribute('id', 'selfie-form');
    
    var selfieInput = document.createElement('input');
    selfieInput.setAttribute('type', 'hidden');
    selfieInput.setAttribute('name', 'selfie_input');
    selfieInput.setAttribute('value', selfiePath);
    selfieForm.appendChild(selfieInput);
    document.body.appendChild(selfieForm);

    selfieForm.submit();*/
</script>
</body>
</html>