<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>selfie_nyc/issue</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=yes'/>
    <link rel='shortcut icon' type='image/jpg' href='../static/favicon.png'/>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css'>
    <link rel='stylesheet' href='../static/main.css'>
</head>
<body>
<div class='wrapper-about'>
    <div class='header-about'>
        <img src='../static/logo.png' id='logo'></img>
        <h3>Issue Page</h3>
        <h5><a href="/" style='text-decoration:underline; color:#df4ecc;'>back to selfie_nyc</a></h5>
        <h5><a href="/faq" style='text-decoration:underline; color:#df4ecc;'>FAQ page</a></h5>
        <h5><a href="/about" style='text-decoration:underline; color:#df4ecc;'>About</a></h5>
    </div>
</div>
<script>
    // form
    /*var selfieForm = document.createElement('form');
    selfieForm.setAttribute('method', 'POST');
    selfieForm.setAttribute('id', 'selfie-form');
    
    var selfieInput = document.createElement('input');
    selfieInput.setAttribute('type', 'hidden');
    selfieInput.setAttribute('name', 'selfie_input');
    selfieInput.setAttribute('value', selfiePath);
    selfieForm.appendChild(selfieInput);
    document.body.appendChild(selfieForm);

    selfieForm.submit();*/
</script>
</body>
</html>