<!DOCTYPE html>
<html>
<head>
<body>
    <img src="../selfie_pause.jpg">
<script>
    // form
    /*var selfieForm = document.createElement('form');
    selfieForm.setAttribute('method', 'POST');
    selfieForm.setAttribute('id', 'selfie-form');
    
    var selfieInput = document.createElement('input');
    selfieInput.setAttribute('type', 'hidden');
    selfieInput.setAttribute('name', 'selfie_input');
    selfieInput.setAttribute('value', selfiePath);
    selfieForm.appendChild(selfieInput);
    document.body.appendChild(selfieForm);

    selfieForm.submit();*/
</script>
</body>
</head>
</html>